<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.slidingmenu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyAppTheme" >
        <activity
            android:name=".StarterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
         <activity
            android:name=".MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".entities.Sonido"
            android:label="@string/title_activity_sonido" >
        </activity>
        <activity
            android:name=".entities.ProAudio"
            android:label="@string/title_activity_pro_audio" >
        </activity>
        <activity
            android:name=".entities.Ordenadores"
            android:label="@string/title_activity_ordenadores" >
        </activity>
        <activity
            android:name=".entities.Viento"
            android:label="@string/title_activity_viento" >
        </activity>
        <activity
            android:name=".entities.DJ"
            android:label="@string/title_activity_dj" >
        </activity>
        <activity
            android:name=".entities.Accesorios"
            android:label="@string/title_activity_accesorios" >
        </activity>
    </application>

</manifest>
